.resturant--headding-container {
    padding: 16px;
}

.restaurant--headding {
    padding-bottom: 10px;
}

.restaurant--sub-headding {
    padding-left: 16px;
}

.restaurant--search {
    width: 100%;
    display: block;
    padding: 12px 4px 12px 50px;
    font-size: 20px;
    border: none;
    background-color: antiquewhite;
    border-radius: 20px;
    background: rgb(247, 247, 247) url('../../../assets/icons/search.svg') no-repeat 13px;
    background-size: 20px;
    outline: none;
    margin-bottom: 10px;
}

.restaurant--horizontal-scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

.restaurant--horizontal-scroll:hover {
    overflow-x: scroll;
    scrollbar-width: none;
}

.restaurant--horizontal-scroll:focus {
    overflow-x: scroll;
    scrollbar-width: none;
}

.restaurant--show-all {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    justify-content: center;
}